* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: #0B0F0E;
}
@font-face {
    font-family: 'ClashGrotesk-Regular';
    src: url('/fonts/ClashGrotesk-Regular.woff2') format('woff2'),
        url('/fonts/ClashGrotesk-Regular.woff') format('woff'),
        url('/fonts/ClashGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}



@font-face {
    font-family: 'ClashGrotesk-Semibold';
    src: url('/fonts/ClashGrotesk-Semibold.woff2') format('woff2'),
        url('/fonts/ClashGrotesk-Semibold.woff') format('woff'),
        url('/fonts/ClashGrotesk-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashGrotesk-Variable';
    src: url('/fonts/ClashGrotesk-Variable.woff2') format('woff2'),
        url('/fonts/ClashGrotesk-Variable.woff') format('woff'),
        url('/fonts/ClashGrotesk-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}
body {

    font-family: ClashGrotesk-Regular;
    font-size: 16px;
    font-weight: 400;
    background-color: rbga(255, 255, 255, 0.9);
}

h1 {
    font-size: 58px;
    line-height: 120%;
    letter-spacing: -0.2px;
    font-family: ClashGrotesk-Semibold;

}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 20px;
}

h2,
h3,
h4,
h5,
h6 {
    line-height: 140%;
    letter-spacing: -0.2px;
    font-family: ClashGrotesk-Semibold;

}

p {
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0px;
    font-family: ClashGrotesk-Regular;
}
header {
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;
}

nav {
    display: flex;
    gap: 24px;
    align-items: center;
}

section {
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;
    margin-top: 54px;
}
.section1-text1
{
    display: flex;
    gap:8px;
    align-items: center;
}
.section1-text1 img
{
    width:12px;
    height:12px;
}
.section1-text2
{
    margin-top:32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section1-text3
{
    display: flex;
    align-items: center;
    gap:15px;
}
.section1-text3 img{
    width:33px;
    height:33px;
}
.section2-container
{
    display: flex;
    justify-content: space-between;
    gap:66px;
}
.section2-category
{
    padding:24px 16px;
    border-radius: 12px;
    width:188px;
    border:1px solid #C4C8CC;
    height:100%;
}
.setcion2-line
{
    margin-top:24px;
    margin-bottom:24px;
}
.section2-container .between h6
{
    margin-top:12px;
    margin-bottom:12px;
}
.section2-posts
{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap:42px;
}
.section2-posts-pos
{
    margin-bottom:24px;
}
footer {
    margin: 0 auto;
    margin-top: 108px;
    background-color: #F7F7F7;
}

.footer-text {
    width: 100%;
    max-width: 1536px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding-top: 82px;
    padding-bottom: 82px;
}
li
{
    list-style: none;
}
li a{
    color:#818B9C;
    font-size:15px;
    line-height: 160%;
}
li::before
{
    content: "";
    background-image: url(/images/li.png);
    background-size: contain;
    padding-left:24px;
    padding-right:12px;
    background-repeat: no-repeat;
    width:24px;
    height:24px;
}
.nogoon {
    color: #1E4C2F;
    font-size:15px;
    margin-top:12px;
}
.border
{
    border:1px solid #C4C8CC;
    border-radius: 12px;
    padding:16px 11px;
    margin-top:12px;
    font-size:15px;
    color:#818B9C;
}
.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav1 {
    display: block;
}

.nav2 {
    display: none;
}

.nav3 {
    display: none;
}

.nav6 {
    display: none;
}

@media (max-width: 1280px) 
{

}
@media (max-width: 1024px) 
{
    
}
@media (max-width: 960px) 
{
    
}
@media (max-width: 768px) 
{
    
}
@media (max-width: 600px) 
{
    
}
@media (max-width: 540px) 
{
    
}
@media (max-width: 430px) 
{
    
}
@media (max-width: 390px) 
{
    
}